<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Visa - Defis Admin')" />

<body>
    <div class="container-fluid">
        <div th:replace="nav :: menu"></div>
        <div class="m-3">
            <h2>Manage Trainees</h2>
            <a th:href="@{/visas/new}"><i class="fas fa-folder-plus fa-2x mr-4"></i></a>
            <a th:href="@{/visas/export/csv}"><i class="fas fa-file-csv fa-2x mr-4"></i></a>
            <a th:href="@{/visas/export/excel}"><i class="far fa-file-excel fa-2x mr-4"></i></a>
            <a th:href="@{/visas/export/pdf}"><i class="far fa-file-pdf fa-2x mr-4"></i></a>
        </div>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div class="m-3">
            <form th:action="@{/visas/page/1}" class="form-inline">
                <input type="hidden" name="sortField" th:value="${sortField}" />
                <input type="hidden" name="sortDir" th:value="${sortDir}" />

                <input type="search" name="keyword" th:value="${keyword}" class="form-control mr-2" required />
                <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-search"></i></button>
                <button type="button" class="btn btn-secondary" onclick="clearFilter()"><i
                        class="fas fa-eraser"></i></button>
            </form>
        </div>

    </div>
    <div class="full-details m-3">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th th:replace="fragments :: column_link6('applicant', 'Applicant', 'none')" />
                    <th th:replace="fragments :: column_link6('start_date', 'Start Date', 'none')" />
                    <th th:replace="fragments :: column_link6('finish_date', 'Finish Date', 'none')" />
                    <th th:replace="fragments :: column_link6('cert_no', 'Cert No', 'none')" />
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="visa : ${listVisas}">
                    <td>[[${visa.applicant.identification}+' :
                        '+${visa.applicant.firstName}+' 
                        '+${visa.applicant.lastName}]]</td>
                    <td>[[${visa.start_date}]]</td>
                    <td>[[${visa.finish_date}]]</td>
                    <td>[[${visa.cert_no}]]</td>

                    <td>
                        <a class="fas fa-file-alt icon-green mr-4" th:href="@{'/visas/view/' + ${visa.id}}"
                        title="Edit this visa"></a>
                        <a class="far fa-edit icon-green mr-4" th:href="@{'/visas/edit/' + ${visa.id}}"
                        title="Edit this visa"></a>
                        <a class="far fa-trash-alt icon-red link-delete" th:href="@{'/visas/delete/' + ${visa.id}}"
                            th:visasId="${visa.id}" title="Delete this visa"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="less-details">
        <div th:each="visa : ${listVisas}" class="row m-1">
            <div class="col-8">
                <div>[[${visa.applicant.identification}+' :
                    '+${visa.applicant.firstName}+' 
                    '+${visa.applicant.lastName}]]</div>
                <div class="mt-2">
                    <a class="fas fa-file-alt icon-green mr-4" th:href="@{'/visas/view/' + ${visa.id}}"
                        title="Edit this visa"></a>
                    <a class="far fa-edit icon-green mr-4" th:href="@{'/visas/edit/' + ${visa.id}}"
                        title="Edit this visa"></a>
                    <a class="far fa-trash-alt icon-red link-delete" th:href="@{'/visas/delete/' + ${visa.id}}"
                        th:userId="${visa.id}" title="Delete this visa"></a>

                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing visas # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No visas found!</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link6(1, 'First')"></a>
                </li>

                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link6(${currentPage - 1}, 'Previous')"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments :: page_link6(${i}, ${i})"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link6(${currentPage + 1}, 'Next')"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link6(${totalPages}, 'Last')"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText">Are you sure you want ot delete this visa ID</span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments :: footer"></div>

    </div>
    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                link = $(this);
                // alert($(this).attr("href"));
                visaId = link.attr("visaId");
                $("#yesButton").attr("href", link.attr("href"));
                $("#confirmText").text("Are you sure you want to delete this ID " + visaId + "?");
                $("#confirmModal").modal();
            });
        });

        function clearFilter() {
            window.location = "[[@{/visas}]]";
        }
    </script>
</body>

</html>