<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Defis</title>
    <meta name="description" content="Online office automated application">
    
    <meta name="author" content="Nyundoo" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
   
    
  
    <!-- data table -->
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   

</head>
<div th:fragment="navbar">
    <body>
        

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>

                <div class="sidebar-header">
                    <h3>Defis</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Hello <span
                        th:text="${user}? ${#strings.toUpperCase(user.username)} : 'User'"></span></p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">User Profile</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a th:href="@{/myProfile}">My Account</a></li>
                        </ul>
                    </li>
                                <li><a th:href="@{/agents}">List Agents</a></li>
                                <li><a th:href="@{/agents/new}">Create Agents</a></li>
                                <li><a th:href="@{/customers}">List Customers</a></li>
                                <li><a th:href="@{/customers/new}">Create Customers</a></li>
                    
                    
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}" style="color: #fff;"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" style="color: #fff;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a th:href="@{/}" class="article">Back to Home Page</a></li>
                </ul>
            </nav>
            <div class="overlay" ></div>
            <nav class="navbar navbar-light bg-light" style="background-color: #000000;">
                <a class="navbar-brand" style="color: #fff;" th:href="@{/}">Defis Application</a>                
              </nav>

            <!-- Page Content Holder -->
            <nav class="navbar navbar-default" style="background-color: #0c1a1e;">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}" style="color: #fff;"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" style="color: #fff;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-default" style="background-color: #fff; width: 70%; margin: auto;">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <form th:action="@{/searchCustomer}" style="margin-top: 10px;">
                              <input type="search" name="keyword" placeholder="Enter Applicantion Number" aria-label="Search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a th:href="@{/}">Home page</a></li>
                            <li><a th:href="@{/agents}">List Agents</a></li>
                            <li><a th:href="@{/agents/new}">New Agent</a></li>
                            <li><a th:href="@{/customers/new}">Add a New Applicant</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
        <!-- ART -->

</div>

<div th:fragment="footer">

    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row paddingtop-bottom">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <div class="logofooter">
                        <a th:href="@{/}"><img src="image/logo.jpg" srcset="image/logosmall.jpg 480w, image/logo.jpg 1080w" sizes="50vw" class="img-responsive" alt="frequently asked questions" style="padding-bottom: 30px;" /></a>
                    </div>
                    <p class="footerleft">
                        KKE Trades item Store. <br />Serving our customers with the
                        best.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footerleft">
                    <h5 class="text-uppercase mb-0 heading7">CONTACTS</h5>

                    <ul class="post">
                        <p>
                            <i class="fa fa-map-pin"></i> Kombo Munyiri Road.<br /> Nairobi, KENYA
                            P.O Box 31002- 00600
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> Phone (KEN) : +254710724880
                        </p>
                        <p>
                            <i class="fa fa-envelope"></i> E-mail : kings_tr@yahoo.com
                        </p>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footerleft">
                    <h5 class="text-uppercase heading7 ">Links</h5>
                    <ul class="footer-ul">
                        <li><a href="#"> Privacy Policy</a></li>
                        <li><a href="#"> Terms &#38; Conditions</a></li>
                        <li><a th:href="@{/faq}">Frequently Ask Questions</a></li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footerleft">
                    <h5 class="text-uppercase mb-0 heading7">STORE HOURS</h5>

                    <div class="post">
                        <p>Monday - Saturday: 9am - 11pm</p>
                        <p>Sunday: 10am - 10pm</p>
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->

        <div class="copyright">
            <div class="col-md-6">
                <p>© 2021 - All Rights Reserved</p>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<div th:fragment="body-bottom-scripts">

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <!-- Jquery js -->
<script rel="preload" th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap js -->
<script rel="preload" th:src="@{/js/bootstrap.min.js}"></script>

<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
</script>
    <script>
        const change = src => {
            document.getElementById('main').src = src
        }
    </script>

    <!-- data table -->
    <script rel="preload" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script rel="preload" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script rel="preload" th:src="@{/js/scripts.js}"></script>

    <script>

        //New map
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -1.28333, lng: 36.81667 },
                zoom: 14,
            });

            //Add marker
            var marker = new google.maps.Marker({
                position: { lat: -1.283823, lng: 36.835160 },
                map: map
            });

            //Info
            var infoWindow = new google.maps.InfoWindow({
                content: '<h1>Defis</h1>'
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }

    </script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLT3AUHEmHd7tlkNhUwBIRy72rTyJndlU&callback=initMap">
        </script>

<script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
    </script>
   




</div>
</body>

</html>