<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Job - Defis Admin')" />

<div class="container-fluid">
    <div th:replace="nav :: menu"></div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="m-3">
        <form th:action="@{/jobss/page/1}" class="form-inline">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            <input type="search" name="keyword" th:value="${keyword}" class="form-control mr-2" required />
            <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-search"></i></button>
            <button type="button" class="btn btn-secondary" onclick="clearFilter()"><i
                    class="fas fa-eraser"></i></button>
        </form>
    </div>

    <div class="panel panel-default full-details" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title">
                Jobs Schedules <a th:href="@{/jobss/new}" class="btn btn-primary btn-sm pull-right"
                    style="margin-top: -4px; color: #FFFFFF;">Add a Job</a>&nbsp;
                <a th:href="@{/jobss/export/csv}" class="btn btn-primary btn-sm pull-center"
                    style="margin-top: -4px; color: #FFFFFF;">Export to CSV </a>
                &nbsp;<a th:href="@{/jobss/export/excel}" class="btn btn-primary btn-sm pull-center"
                    style="margin-top: -4px; color: #FFFFFF;">Export to Spread Excel </a>

            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-special table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="hideable-column">
                                <th th:replace="fragments :: column_link4('id', 'Job ID', 'tag')" />
                            </th>
                            <th>Photos</th>
                            <th th:replace="fragments :: column_link4('country', 'Country', 'none')" />
                            <th th:replace="fragments :: column_link4('jobTitle', 'Job Title', 'none')" />
                            <th th:replace="fragments :: column_link4('payment', 'Commision(Ksh)', 'none')" />
                            <th th:replace="fragments :: column_link4('jobDescription', 'Job Description', 'none')" />
                            <th th:replace="fragments :: column_link4('user9', 'User', 'none')" />
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jobs : ${listJobss}">
                            <td class="hideable-column">[[${jobs.id}]]</td>
                            <td>
                                <span th:if="${jobs.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                                <img th:if="${jobs.photos != null}" th:src="@{${jobs.photosImagePath}}"
                                    style="width: 100px;" />
                            </td>
                            <td>[[${jobs.country}]]</td>
                            <td>[[${jobs.jobTitle}]]</td>
                            <td>[[${jobs.payment}]]</td>
                            <td>[[${jobs.jobDescription}]]</td>
                            <td>[[${jobs.user9.firstName}+'
                                '+${jobs.user9.lastName}]]</td>

                            <td>
                                <a class="fas fa-file-alt icon-green mr-4" th:href="@{'/jobss/view/' + ${jobs.id}}"
                                    title="Edit this job"></a>
                                <a class="far fa-edit icon-green mr-4" th:href="@{'/jobss/edit/' + ${jobs.id}}"
                                    title="Edit this job"></a>
                                <a class="far fa-trash-alt icon-red link-delete"
                                    th:href="@{'/jobss/delete/' + ${jobs.id}}" th:jobId="${jobs.id}"
                                    title="Delete this job"></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="12">
                                <div th:if="${totalItems > 0}">
                                    <span>Showing jobs # [[${startCount}]] to [[${endCount}]] of
                                        [[${totalItems}]]</span>
                                </div>
                                <div class="text-center m-1" th:unless="${totalItems > 0}">
                                    <span>No jobs found!</span>
                                </div>

                                <div th:if="${totalPages > 1}">
                                    <nav>
                                        <ul class="pagination justify-content-center flex-wrap">
                                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                                <a th:replace="fragments :: page_link4(1, 'First')"></a>
                                            </li>

                                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                                <a
                                                    th:replace="fragments :: page_link4(${currentPage - 1}, 'Previous')"></a>
                                            </li>

                                            <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                                                th:each="i : ${#numbers.sequence(1, totalPages)}">
                                                <a th:replace="fragments :: page_link4(${i}, ${i})"></a>
                                            </li>

                                            <li
                                                th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                                <a th:replace="fragments :: page_link4(${currentPage + 1}, 'Next')"></a>
                                            </li>

                                            <li
                                                th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                                <a th:replace="fragments :: page_link4(${totalPages}, 'Last')"></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                            </th>
                        </tr>
                    </tfoot>
                </table>
                <div id="snackbar">You have a new Bill</div>
            </div>
        </div>
    </div>





    <div class="less-details">
        <div th:each="jobs : ${listJobss}" class="row m-1">
            <div class="col-8">
                <div>[[${jobs.country}]]</div>
                <div>[[${jobs.jobTitle}]]</div>
                <div class="mt-2">
                    <a class="fas fa-file-alt icon-green mr-4" th:href="@{'/jobss/view/' + ${jobs.id}}"
                        title="Edit this job"></a>
                    <a class="far fa-edit icon-green mr-4" th:href="@{'/jobss/edit/' + ${jobs.id}}"
                        title="Edit this job"></a>
                    <a class="far fa-trash-alt icon-red link-delete" th:href="@{'/jobss/delete/' + ${jobs.id}}"
                        th:userId="${jobs.id}" title="Delete this job"></a>

                </div>
            </div>
            <div>&nbsp;</div>
        </div>


        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing jobs # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No jobs found!</span>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link4(1, 'First')"></a>
                    </li>

                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link4(${currentPage - 1}, 'Previous')"></a>
                    </li>

                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="fragments :: page_link4(${i}, ${i})"></a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link4(${currentPage + 1}, 'Next')"></a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link4(${totalPages}, 'Last')"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirmText">Are you sure you want ot delete this job ID</span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            // alert($(this).attr("href"));
            jobId = link.attr("jobId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this ID " + jobId + "?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/jobss}]]";
    }
</script>

</html>