<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Your Account Details')" />

<body>
    <div class="container-fluid">
        <div th:replace="nav :: menu"></div>
        
        <div class="text-center">
            <h2 class="heading">Your Account Details</h2>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

    </div>
    <form enctype="multipart/form-data" th:action="@{/account/update}" method="post"
        style="max-width: 700px; margin: 0 auto;" th:object="${user}">
        <input type="hidden" th:field="*{id}" />
            
            <div class="form-group">
                <label class="col-form-label login">Photo:</label>
                <div class="">
                    <input type="hidden" th:field="*{photos}" />
                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2" />
                    <img id="thumbnail" alt="Photo preview" th:src="@{${user.photosImagePath}}" class="img-fluid" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">E-mail *</label>
                <div class="">
                    <input type="email" class="form-control" th:field="*{email}" readonly="readonly" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">First Name *</label>
                <div class="">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="2"
                        maxlength="45" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">Last Name *</label>
                <div class="">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="2"
                        maxlength="45" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">Password:</label>
                <div class="">
                    <input type="password" class="form-control" th:field="*{password}"
                        placeholder="Leave blank if you don't want to change the password" minlength="8" maxlength="20"
                        oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />

                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">Confirm Password:</label>
                <div class="">
                    <input type="password" id="confirmPassword" class="form-control" th:field="*{password}"
                        minlength="8" maxlength="20" oninput="checkPasswordMatch(this)" />

                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label login">Assigned Roles</label></br></br>
                <div class="">
                    <span><b>[[${user.roles}]]</b></span>
                </div>
            </div>



            <div class="text-center">
                <a th:href="@{/users}" class="btn btn-secondary m-3"> Cancel </a>
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
    </form>

    <di
    </div>



    <div th:replace="fragments :: footer"></div>

    </div>
    <script th:src="@{/js/common.js}"></script>

    <script>
        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/users}]]";
            });

            $("#fileImage").change(function () {
                fileSize = this.files[0].size;
                //alert("File size: " + fileSize);

                if (fileSize > 1048576) {
                    this.setCustomValidity("You must choose an image less than 1MB!");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }


            });
        });

        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };

            reader.readAsDataURL(file);
        }

        function checkPasswordMatch() {
            if (confirmPassword.value != $("#password").val()) {
                confirmPassword.setCustomValidity("Password do not match");
            } else {
                confirmPassword.setCustomValidity("");
            }
        }
    </script>
</body>

</html>