<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<!-- /GetBu
<!-- /GetButton.io widget -->
<body>
    <div th:replace="common/header :: navbar" />
          <div class="container text-center">
              <div><h1>Agent List</h1></div>
  
                  <div>
                      <table class="table table-bordered">
                          <thead class="thead-dark">
                              <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Current Residence</th>
                                  <th>Email</th>
                                  <th>County</th>
                                  <th>Ward</th>
                                  <th>Village Name</th>
                                  <th></th>
                              </tr>
                              
                          </thead>     
                          <tbody>
                              <th:block th:each="agent : ${listAgents}">
                                  <tr>
                                      <td>[[${agent.id}]]</td>
                                      <td>[[${agent.name}]]</td>
                                      <td>[[${agent.current_residence}]]</td>
                                      <td>[[${agent.email}]]</td>
                                      <td>[[${agent.county}]]</td>
                                      <td>[[${agent.ward}]]</td>
                                      <td>[[${agent.village_name}]]</td>
                                      <td>
                                          <a th:href="@{'/agents/edit/' + ${agent.id}}">Edit</a>
                                      
                                          <a th:href="@{'/agents/delete/' + ${agent.id}}">Delete</a>
                                      </td>
                                  </tr>                                
                              </th:block>
                          </tbody>                   
                      </table>
  
                  </div>
          </div>       
          
      </body>


        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    
</html>