
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<!-- /GetBu
<!-- /GetButton.io widget -->
<body>
    <div th:replace="common/header :: navbar" />
<div class="container">
		<!-- <div>
			<ol class="breadcrumb">
				<li><a th:href="@{/}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
				<li><a th:href="@{/customers/edit/">Edit</a></li>
			</ol>
			
		</div> -->
		
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
				<div class="panel-body">
					<img th:src="@{${customer.mainImagePath}}" class="img-responsive center-block" />
				</div>
				</div>
			</div>
			<div class="col-xs-9">
				<h3 th:text="${customer.identification}"></h3>
				<div class="row">
					<div class="col-xs-6">						
						<p><strong>Customer Name: </strong><span th:text="${customer.name}"></span></p>
					</div>
					<div class="col-xs-6">
						<p><strong>Age: </strong><span th:text="${customer.age}"></span></p>
						<p><strong>Email: </strong><span th:text="${customer.email}"></span></p>
						<p><strong>County: </strong><span th:text="${customer.county}"></span></p>
						<p><strong>Ward: </strong><span th:text="${customer.ward}"></span></p>
						<p><strong>Village Name: </strong><span th:text="${customer.village_name}"></span></p>
						<p><strong>Huduma No: </strong><span th:text="${customer.huduma_no}"></span></p>
						<p><strong>Gender: </strong><span th:text="${customer.gender}"></span></p>
						<p><strong>Chief Name: </strong><span th:text="${customer.chief_name}"></span></p>
						<p><strong>Contact: </strong><span th:text="${customer.contact}"></span></p>
					</div>
				</div>
				
				<p><Strong>Village: </Strong><span th:utext="${customer.village_name}"></span></p>
			</div>
			
		</div>
	</div>
		
		</body>

</html>
		