<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Home - Defis Admin')" />
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 31%;
        padding: 20px;
        background-color: black !important;
        color: white !important;
        opacity: 0.9;
        margin: 10.5px;
    }

    /* 
    .column:after {
    content: '';
    height: 5px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background-color: #80e064;
    position: absolute;
    left: 0;
    bottom: 0;
} */

    .column2 {
        float: left;
        width: 100%;
        height: 250px;
        /* Should be removed. Only for demonstration */
        margin-top: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }

    h2,
    .h2 {
        font-size: 1.125rem;
    }

    .small {
        font-size: 80%;
        font-weight: 400;
        color: #a7afb7 !important;
    }

    
</style>

<body>
    <div class="container-fluid" style="margin-bottom: 40px;">
        <div th:replace="nav :: menu"></div>
        <div style="max-width:960px; margin: 0 auto;">
            <h1>Defis Control Panel</h1>
            Welcome <a th:href="@{/account}" sec:authentication="principal.fullname"></a>
            &nbsp;
            <span sec:authentication="principal.authorities"></span>
            <div class="row" style="margin: 0 auto;">
                <div class="column" style="background-color:#aaa;">
                    <h2 style="font-weight: 700 !important;">APPLICANTS</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant}"> </span></p>
                    <p class="small">Registered applicants</p>
                </div>
                <div class="column" style="background-color:#ccc;">
                    <h2 style="font-weight: 700 !important;">AGENTS</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${agent}"> </span></p>
                    <p class="small">This are total agents</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">JOBS</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant7}"> </span></p>
                    <p class="small">Total applicant jobs</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">MEDICAL</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant8}"> </span></p>
                    <p class="small">Total applicant pass medical test</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">BIRTH CERTS SCHEDULE</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant2}"> </span></p>
                    <p class="small">Total birth certificate scheduled</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">PASSPORTS SCHEDULE</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant3}"> </span></p>
                    <p class="small">Total passport scheduled</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">VISA SCHEDULE</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant4}"> </span></p>
                    <p class="small">Total visa scheduled made</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">TRAINING</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant5}"> </span></p>
                    <p class="small">Total applicant on training</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2 style="font-weight: 700 !important;">TRAVELING</h2>
                    <p style="font-weight: 700 !important;"><span th:text="${applicant6}"> </span></p>
                    <p class="small">Total applicant traveling</p>
                </div>

            </div>               
         
            <div class="full-details m-3" id="myTable1div5">
                <div class="m-3">
                    <h2  style="text-align: center;">Medical Schedule</h2>
                </div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl" id="Table5">
                    <thead class="thead-dark">
                        <tr>
                            <th th:replace="fragments :: column_link5('user1', 'User', 'none')" />

                            <th th:replace="fragments :: column_link5('applicant', 'Applicant', 'none')" />
                            <th
                                th:replace="fragments :: column_link5('application_date', 'Application Date', 'none')" />
                            <th th:replace="fragments :: column_link5('result_date', 'Results Date', 'none')" />
                            <th th:replace="fragments :: column_link5('status', 'Status', 'none')" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="medical : ${listMedicals}">
                            <td>[[${medical.user1.firstName}+'
                                '+${medical.user1.lastName}]]</td>
                            <td>[[${medical.applicant.identification}+' :
                                '+${medical.applicant.firstName}+'
                                '+${medical.applicant.lastName}]]</td>
                            <td>[[${medical.application_date}]]</td>
                            <td>[[${medical.result_date}]]</td>
                            <td th:if="${medical.m_status == false && medical.result_date > (#dates.createNow()) }"><a class="btn btn-sm" style="background-color: orange;"
                                th:href="@{'/medicals/edit/' + ${medical.id}}" title="Edit this medical">Ongoing</a></td>
                                <td th:if="${medical.m_status == false && medical.result_date < (#dates.createNow())}"><a class="btn btn-sm" style="background-color: red;"
                                    th:href="@{'/medicals/edit/' + ${medical.id}}" title="Edit this medical">Late</a></td>
                            <td th:if="${medical.m_status == true}"><a class="btn btn-warning btn-sm"
                                th:href="@{'/medicals/edit/' + ${medical.id}}" title="Edit this medical">Complete</a></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="full-details m-3" id="myTable1div4">
                <div class="m-3">
                    <h2  style="text-align: center;">Birth Certs Schedule</h2>
                </div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl" id="Table4">
                    <thead class="thead-dark">
                        <tr>
                                <th th:replace="fragments :: column_link5('user2', 'User', 'none')" />
                           
                            <th th:replace="fragments :: column_link5('applicant', 'Applicant', 'none')" />
                            <th th:replace="fragments :: column_link5('cert_application_date', 'Application Date', 'none')" />
                            <th th:replace="fragments :: column_link5('cert_reception_date', 'Reception Date', 'none')" />
                            <th th:replace="fragments :: column_link5('status', 'Status', 'none')" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="birth : ${listBirths}">
                            <td>[[${birth.user2.firstName}+'
                                '+${birth.user2.lastName}]]</td>
                            <td>[[${birth.applicant.identification}+' :
                                '+${birth.applicant.firstName}+'
                                '+${birth.applicant.lastName}]]</td>
                            <td>[[${birth.cert_application_date}]]</td>
                            <td>[[${birth.cert_reception_date}]]</td>
                             <td th:if="${birth.status == false && birth.cert_reception_date > (#dates.createNow()) }"><a class="btn btn-sm" style="background-color: orange;"
                                th:href="@{'/births/edit/' + ${birth.id}}" title="Edit this birth">Ongoing</a></td>
                                <td th:if="${birth.status == false && birth.cert_reception_date < (#dates.createNow())}"><a class="btn btn-sm" style="background-color: red;"
                                    th:href="@{'/births/edit/' + ${birth.id}}" title="Edit this birth">Late</a></td>
                            <td th:if="${birth.status == true}"><a class="btn btn-warning btn-sm"
                                th:href="@{'/births/edit/' + ${birth.id}}" title="Edit this birth">Complete</a></td>
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="full-details m-3" id="myTable1div3">
                <div class="m-3">
                    <h2  style="text-align: center;">Passport Schedule</h2>
                </div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl" id="Table3">
                    <thead class="thead-dark">
                        <tr>
                                <th th:replace="fragments :: column_link5('applicant', 'Applicant', 'none')" />
                                <th th:replace="fragments :: column_link5('pass_application_date', 'Pass App Date', 'none')" />
                                <th th:replace="fragments :: column_link5('pass_application_date', 'Pass Recep Date', 'none')" />

                                <th th:replace="fragments :: column_link5('user_id3', 'User', 'none')" />
                                <th th:replace="fragments :: column_link5('status', 'Status', 'none')" />
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="passport : ${listPassports}">
                           <td>[[${passport.applicant.identification}+' :
                                '+${passport.applicant.firstName}+' 
                                '+${passport.applicant.lastName}]]</td>
                            <td>[[${passport.pass_application_date}]]</td>
                            <td>[[${passport.pass_reception_date}]]</td>
                            <td>[[${passport.user3.firstName}+' 
                                '+${passport.user3.lastName}]]</td>
        
                                <td th:if="${passport.status == false && passport.pass_reception_date > (#dates.createNow()) }"><a class="btn btn-sm" style="background-color: orange;"
                                    th:href="@{'/passports/edit/' + ${passport.id}}" title="Edit this passport">Ongoing</a></td>
                                    <td th:if="${passport.status == false && passport.pass_reception_date < (#dates.createNow())}"><a class="btn btn-sm" style="background-color: red;"
                                        th:href="@{'/passports/edit/' + ${passport.id}}" title="Edit this passport">Late</a></td>
                                <td th:if="${passport.status == true}"><a class="btn btn-warning btn-sm"
                                    th:href="@{'/passports/edit/' + ${passport.id}}" title="Edit this passport">Complete</a></td>
                                
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="full-details m-3" id="myTable1div2">
                <div class="m-3">
                    <h2  style="text-align: center;">Training Schedule</h2>
                </div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl" id="Table2">
                    <thead class="thead-dark">
                        <tr>
                            <th th:replace="fragments :: column_link6('applicant', 'Applicant', 'none')" />
                            <th th:replace="fragments :: column_link6('start_date', 'Start Date', 'none')" />
                            <th th:replace="fragments :: column_link6('finish_date', 'Finish Date', 'none')" />
                            <th th:replace="fragments :: column_link6('user5', 'User', 'none')" />
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="training : ${listTrainings}">
                            <td>[[${training.applicant.identification}+' :
                                '+${training.applicant.firstName}+' 
                                '+${training.applicant.lastName}]]</td>
                            <td>[[${training.start_date}]]</td>
                            <td>[[${training.finish_date}]]</td>
                            <td>[[${training.user5.firstName}+' 
                                '+${training.user5.lastName}]]</td>
        
                                <td th:if="${training.t_status == false && training.finish_date > (#dates.createNow()) }"><a class="btn btn-sm" style="background-color: orange;"
                                    th:href="@{'/trainings/edit/' + ${training.id}}" title="Edit this training">Ongoing</a></td>
                                    <td th:if="${training.t_status == false && training.finish_date < (#dates.createNow())}"><a class="btn btn-sm" style="background-color: red;"
                                        th:href="@{'/trainings/edit/' + ${training.id}}" title="Edit this training">Late</a></td>
                                <td th:if="${training.t_status == true}"><a class="btn btn-warning btn-sm"
                                    th:href="@{'/trainings/edit/' + ${training.id}}" title="Edit this training">Complete</a></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="full-details m-3" id="myTable1div">
                <div class="m-3">
                    <h2  style="text-align: center;">Ticket Schedule</h2>
                </div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl" id="Table1">
                    <thead class="thead-dark">
                        <tr>                    
                            <th th:replace="fragments :: column_link6('applicant', 'Applicant', 'none')" />
                            
                                <th th:replace="fragments :: column_link6('ticket_date', 'Ticket Date', 'none')" />
                            

                            <th th:replace="fragments :: column_link6('date_travel', 'Date Travel', 'none')" />
                                                        
                            <th th:replace="fragments :: column_link6('expected_arrival_date', 'Expected Arrival Date', 'none')" />
                            <th th:replace="fragments :: column_link6('user4', 'User', 'none')" />

                            <th th:replace="fragments :: column_link6('travel_status', 'Travel Status', 'none')" />
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="travel : ${listTickets}">
                            <td>[[${travel.applicant.identification}+' :
                                '+${travel.applicant.firstName}+' 
                                '+${travel.applicant.lastName}]]</td>
                            <td>[[${travel.ticket_date}]]</td>
                            <td>[[${travel.date_travel}]]</td>
                            <td>[[${travel.expected_arrival_date}]]</td>
                            <td>[[${travel.user4.firstName}+' 
                                '+${travel.user4.lastName}]]</td>
        
                                <td th:if="${travel.travel_status == false && travel.expected_arrival_date > (#dates.createNow()) }"><a class="btn btn-sm" style="background-color: orange;"
                                    th:href="@{'/travels/edit/' + ${travel.id}}" title="Edit this travel">Ongoing</a></td>
                                    <td th:if="${travel.travel_status == false && travel.expected_arrival_date < (#dates.createNow())}"><a class="btn btn-sm" style="background-color: red;"
                                        th:href="@{'/travels/edit/' + ${travel.id}}" title="Edit this travel">Late</a></td>
                                <td th:if="${travel.travel_status == true}"><a class="btn btn-warning btn-sm"
                                    th:href="@{'/travels/edit/' + ${travel.id}}" title="Edit this travel">Complete</a></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>


            <div th:replace="fragments :: footer"></div>
        </div>
    </div>
    <script th:src="@{/js/common.js}"></script>

    <script>
        $(function(){
            var hide = true;

            $('#Table1 td').each(function(){
                var td_content = $(this).text()

                if(td_content != ""){
                    hide = false;
                }
            });
            if(hide){
                $('#myTable1div').hide();
            }
        });


        $(function(){
            var hide2 = true;

            $('#Table2 td').each(function(){
                var td_content2 = $(this).text()

                if(td_content2 != ""){
                    hide2 = false;
                }
            });
            if(hide2){
                $('#myTable1div2').hide();
            }
        });


        $(function(){
            var hide3 = true;

            $('#Table3 td').each(function(){
                var td_content3 = $(this).text()

                if(td_content3 != ""){
                    hide3 = false;
                }
            });
            if(hide3){
                $('#myTable1div3').hide();
            }
        });


        $(function(){
            var hide4 = true;

            $('#Table4 td').each(function(){
                var td_content4 = $(this).text()

                if(td_content4 != ""){
                    hide4 = false;
                }
            });
            if(hide4){
                $('#myTable1div4').hide();
            }
        });


        $(function(){
            var hide5 = true;

            $('#Table5 td').each(function(){
                var td_content5 = $(this).text()

                if(td_content5 != ""){
                    hide5 = false;
                }
            });
            if(hide5){
                $('#myTable1div5').hide();
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/medicals}]]";
            });

            $("#fileImage").change(function () {
                fileSize = this.files[0].size;
                //alert("File size: " + fileSize);

                if (fileSize > 1048576) {
                    this.setCustomValidity("You must choose an image less than 1MB!");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }


            });
        });

        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };

            reader.readAsDataURL(file);
        }


        function showModalDialog(title, message) {
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            $("#modalDialog").modal();
        }
    </script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').fadeOut();
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').fadeIn();
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>