<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Login - Defis Admin')" />

<body>
    <div class="container-fluid text-center">
        <style>
            .login {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 0.5rem;
                text-align: left;
                float: left;
            }
        </style>


        <form th:action="@{/login}" method="post" style="max-width: 567px; margin: 0 auto; margin-top: 80px;">
            <div class="border border-secondary p-3">
                <p><img th:src="@{images/defislogo.JPG}" alt="Defis Logo" width="200" height="100"></p>
                <p style="font-size: 32px;">One Login</p>
                <p>Access to Defis Control Panel</p>
                <div th:if="${param.error}">
                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>

                <div th:if="${param.logout}">
                    <p class="text-warning">You have been logged out!</p>
                </div>
            </div>
            <div class="border border-secondary p-3">
                <p>
                    <label class="login">Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="you@example.com" required />
                </p>
                <p>
                    <label class="login">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                </p>
                <p>
                    <input type="checkbox" name="remember-me" />&nbsp;Remember Me
                </p>
                <p>
                    <input type="submit" value="Login" class="btn btn-primary" />
                </p>
            </div>
        </form>

        <div th:replace="fragments :: footer"></div>

    </div>
</body>

</html>