<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<!-- /GetBu
<!-- /GetButton.io widget -->
<body>
    <div th:replace="common/header :: navbar" />
          <div class="container text-center">
              <div th:if="${medical.id == null}"><h1>Create New Medical</h1></div>
              <div th:unless="${medical.id == null}"><h1>Edit Medical</h1></div>
  
              <form th:action="@{/medicals/save}" th:object="${medical}" method="post" style="max-width: 600px; margin: 0 auto;">
                  <input type="hidden" th:field="*{id}" th:value="${medical.id}" />
                  <div class="m-3">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4" style="text-align: right;">Client: </label>
                        <div class="col-sm-8">
                           <select th:field="*{customer}" class="form-control" required>
                               <th:block th:each="cat : ${listCustomers}">
                                   <option th:text="${cat.identification}+' : '+${cat.name}" th:value="${cat.id}" />
                               </th:block>
                           </select>  
                           <a style="text-decoration:underline; color: blue; font-size: medium;" th:href="@{/customers/new}">Add New Customer</a>                                                    
                        </div>
                    </div>  

                      <div class="form-group row">
                          <label class="col-form-label col-sm-4">Client Information: </label>
                          <div class="col-sm-8">
                              <input type="text" th:field="*{client_info}" class="form-control" required />
                          </div>
                          </div>

                      <div class="form-group row">
                        <label class="col-form-label col-sm-4">Medical Center: </label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{medical_center}" class="form-control" required />
                        </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Medical Type: </label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{medical_type}" class="form-control" required />
                            </div>
                            </div>
                     
                      <div class="form-group row">
                          <label class="col-form-label col-sm-4">Amount Paid: </label>
                          
                          <div class="col-sm-8">
                              <input type="text" th:field="*{amount_paid}" class="form-control" required />
                          </div>
                      </div>
  
                      <div class="form-group row">
                          <label class="col-form-label col-sm-4">Application Date: </label>
                          
                          <div class="col-sm-8">
                              <input type="date" th:field="*{application_date}" class="form-control" required />
                          </div>
                      </div>
  
                      <!-- status of medical -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								th:checked="${medical.active}" /> Pass </label> <label><input
								value="false" type="radio" th:checked="${!medical.active}" name="active" />
								Fail </label> <span class="help-block">Whether the client has pass the medical test or failed</span>
						</div>
					</div>
  
                                            
  
                      <div class="text-center p-3">
                          <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                     
                  </div>
              </form>
              
          </div>       
          
      </body>


        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    
</html>