<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<!-- /GetBu
<!-- /GetButton.io widget -->
<body>
    <div th:replace="common/header :: navbar" />
          <div class="container text-center">
              <div><h1>Medical List</h1></div>
  
                  <div>
                      <table class="table table-bordered">
                          <thead class="thead-dark">
                              <tr>
                                  <th style="color:#ffff; text-align: center;">Client ID</th>
                                  <th style="color:#ffff; text-align: center;">Client Info</th>
                                  <th style="color:#ffff; text-align: center;">Medical Center</th>
                                  <th style="color:#ffff; text-align: center;">Medical Type</th>
                                  <th style="color:#ffff; text-align: center;">Amount Paid</th>
                                  <th style="color:#ffff; text-align: center;">Application Date</th>
                                  <th style="color:#ffff; text-align: center;">Status</th>
                                  <th></th>
                              </tr>                              
                          </thead>     
                          <tbody>
                              <th:block th:each="medical : ${listMedicals}">
                                  <tr>
                                      <td th:each="customer : ${listCustomers}">[[${customer.identification}]]</td>
                                      <td>[[${medical.Client_info}]]</td>
                                      <td>[[${medical.medical_center}]]</td>
                                      <td>[[${medical.medical_type}]]</td>
                                      <td>[[${medical.amount_paid}]]</td>
                                      <td>[[${medical.application_date}]]</td>
                                      <td>[[${medical.active}]]</td>
                                      <td>
                                        <a th:href="@{'/medicals/edit/' + ${medical.id}}" style="text-decoration:underline; color: blue; font-size: medium;">Edit</a>
                                      
                                        <a th:href="@{'/medicals/delete/' + ${medical.id}}" style="text-decoration:underline; color: blue; font-size: medium;">Delete</a>
                                      </td>
                                  </tr>                                
                              </th:block>
                          </tbody>                   
                      </table>
  
                  </div>
          </div>       
          
      </body>


        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    
</html>