<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <div th:fragment="menu">
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" />

        </form>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                Defis
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Tasks')">
                        <a class="nav-link" th:href="@{/tasks}">Tasks</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Payments')">
                        <a class="nav-link" th:href="@{/payments}">Payments</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Medicals')">
                        <a class="nav-link" th:href="@{/medicals}">Medicals</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Births')">
                        <a class="nav-link" th:href="@{/births}">Birth Cert</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Passports')">
                        <a class="nav-link" th:href="@{/passports}">Passports</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Trainings')">
                        <a class="nav-link" th:href="@{/trainings}">Trainings</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Visas')">
                        <a class="nav-link" th:href="@{/visas}">Visas</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Tickets')">
                        <a class="nav-link" th:href="@{/tickets}">Tickets</a>
                    </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Jobs')">
                            <a class="nav-link" th:href="@{/jobss}">Jobs</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Agents')">
                        <a class="nav-link" th:href="@{/agents}">Agents</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Applicants')">
                        <a class="nav-link" th:href="@{/applicants}">Applicants</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Marketers')">
                        <a class="nav-link" th:href="@{/Marketer}">Marketer</a>
                    </li>
                    <!-- <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Marketers')">
                        <button type="button" class="icon-button">
                            <span class="material-icons">notifications</span>
                            <span class="icon-button__badge">2</span>
                          </button>
                    </li> -->
                    <li>
                        <span class="far fa-user fa-2x icon-silver"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account}" sec:authentication="principal.fullname"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logoutLink" href="">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</body>

</html>