<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Task Form - Defis Admin')" />

<body>
    <div class="container-fluid">
        <div th:replace="nav :: menu"></div>
        <div>
            <h2>[[${pageTitle}]]</h2>
        </div>
    </div>
    <div class="col-rt-2">
        <ul>
            <li><a th:href="@{/passports}">Back to passports list page</a></li>
        </ul>
    </div>
    <form enctype="multipart/form-data" th:action="@{/passports/save}" method="post"
        style="max-width: 800px; margin: 0 auto;" th:object="${passport}">
        <input type="hidden" th:field="*{id}" />
        <div class="border border-s
        econdary rounded p-3" style="margin-bottom: 20px;">
            <div class="m-3">
                <legend style="text-align: left;" class="">Assign Task:</legend>
                <div class="form-group">
                    <label class="col-form-label login">Client *</label>
                    <div class="">
                        <select th:field="*{applicant}" class="form-control" required>
                            <th:block th:each="cat : ${listApplicants}">
                                <option th:text="${cat.identification}+' : '+${cat.firstName}+' '+${cat.lastName}"
                                    th:value="${cat.id}" />
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="border border-s
                econdary rounded p-3" style="margin-bottom: 20px;">

                    <div class="form-group">
                        <label class="col-form-label login" style="text-align: right;">Passport Number * </label>

                        <div class="">
                            <input type="number" th:field="*{passport_no}" class="form-control input" id="theDate1"
                                required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label login" style="text-align: right;">Amount Paid</label>

                        <div class="">
                            <input type="number" th:field="*{pass_paid}" class="form-control input" id="theDate2" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label login" style="text-align: right;">Passport Application Date *
                        </label>
                        <div class="">
                            <input type="date" th:field="*{pass_application_date}" class="form-control input" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label login" style="text-align: right;">Passport Reception Date *
                        </label>
                        <div class="">
                            <input type="date" th:field="*{pass_reception_date}" class="form-control input" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Completed?:</label>
                        <div class="">
                            <input type="checkbox" id="myCheck" th:field="*{status}" onclick="myFunction()" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="inputAttachments">Passport attachment</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="hidden" th:field="*{photos}" />
                        <input type="file" name="image" id="fileImage" class="form-control valid" accept="image/png, image/jpeg, image/jpg, image/pdf"
                            aria-invalid="false">
                        <div id="fileUploadsContainer"></div>
                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <label class="col-form-label login">Assign To *</label>
                    <div class="">
                        <select th:field="*{user3}" class="form-control input" required>
                            <th:block th:each="cat : ${listUsers}">
                                <option th:text="${cat.firstName}+' '+${cat.lastName}" th:value="${#request.userPrincipal.principal.id}" />
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label login" style="text-align: right;">Created By</label>
                    <div class="">
                        <input type="text" th:value="${#request.userPrincipal.principal.fullname}" class="form-control input" required readonly="readonly" />
                    </div>
                </div>


                <div class="text-center p-3">
                    <a th:href="@{/passports}" class="btn btn-secondary m-3"> Cancel </a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </div>

        </div>
    </form>


    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments :: footer"></div>

    </div>
    <script th:src="@{/js/common.js}"></script>


    <script>
        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/passports}]]";
            });

            $("#fileImage").change(function () {
                fileSize = this.files[0].size;
                //alert("File size: " + fileSize);

                if (fileSize > 1048576) {
                    this.setCustomValidity("You must choose an image less than 1MB!");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }


            });
        });

        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };

            reader.readAsDataURL(file);
        }


        function showModalDialog(title, message) {
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            $("#modalDialog").modal();
        }
    </script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').fadeOut();
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').fadeIn();
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>